<h1>Books</h1>
<% @books.each do |book| %>

<table>
  <tr>
   <th>Title</th>
   <th>Body</th>
  </tr>

  <tr>
   <td><%= book.title %></td>
   <td><%= book.body %></td>
   <td><a href="<%=book_path(book.id) %>">show</a></td>
   <td><a href="<%=book_path(book.id) %>">Edit</a></td>
   <td><a href="<%=book_path(book.id) %>">Destroy</a></td>
  </tr>

</table>
<% end %>

<h2>New book</h2>

<%= form_with model: @book do |f| %>

  <p>Title:</p>
  <%= f.text_field :title %>

  <p>Body:</p>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>

